<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.plm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/member"
            android:theme="@style/AppTheme.Main">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Login">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.plm.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.plm.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SearchDetailActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activity.ServiceActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.plm.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.RewardActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activity.RedeemSuccessActivity"
            android:theme="@style/AppTheme.Login"></activity>
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/AppTheme.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
